# Global ignores

# Backend
job-board-api/target/
job-board-api/src/main/resources/application.properties

# Frontend
job-board-frontend/node_modules/
job-board-frontend/.env
job-board-frontend/build/

# Logs
*.log

# IDE / OS
.DS_Store
.idea/
*.iml
